@import "tailwindcss";

@theme {
  --color-blue: hsl(223, 87%, 58%);
  --color-blue-light: hsl(223, 87%, 66%);

  --color-pale-blue: hsl(223, 100%, 88%);
  --color-light-red: hsl(354, 100%, 66%);

  --color-gray: hsl(0, 0%, 58%);
  --color-gray-dark: hsl(0, 0%, 46%);
  --color-very-dark-blue: hsl(209, 33%, 12%);

  --font-libre-franklin: "Libre Franklin", sans-serif;
}

@layer base {
  html {
    @apply font-libre-franklin text-very-dark-blue font-light;
  }

  body {
    @apply bg-white;
  }
  button,
  a,
  input {
    @apply focus-visible-ring;
  }
}

@utility focus-visible-ring {
  @apply focus-visible:ring-very-dark-blue focus-visible:ring-offset-very-dark-blue focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-none;
}

@utility footer-link {
  @apply text-very-dark-blue rounded-xs font-semibold hover:underline;
}

@utility social-link {
  @apply text-blue border-pale-blue grid size-9 place-items-center rounded-full border;
  @apply hover:border-blue hover:bg-blue active:border-blue active:bg-blue hover:text-white active:text-white motion-safe:transition-colors;
}

@utility shadow-button {
  box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.230414);
}

@utility btn-primary {
  @apply bg-blue shadow-button cursor-pointer rounded-full border border-transparent px-8 py-4 text-xs font-semibold text-white;
  @apply hover:bg-blue-light active:bg-blue-light motion-safe:transition motion-safe:duration-200;
}
